{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>ASA REST API demo page</title>
	<link rel="stylesheet" href="{% static 'style.css' %}"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script type="text/javascript" src="{% static 'script.js' %}"></script>
</head>

<body>
	<div>
		<h2>ASA IP Address: {{ ip_address }}</h2>
		<br>
		
		<h3>Outside Interface ACL</h3>
		<div>
			<table>
				<tr>
					<th>Line#</th>
					<th>Access</th>
					<th>Src</th>
					<th>Dst</th>
				</tr>
			{% for ace in outside_ace_dict.items %}
				<tr>
					<td>{{ace.position}}</td>
					<td>{% if ace.permit %}permit{% else %}{% if not ace.permit %}deny{% endif %}{% endif %}</td>
					<td>{{ace.sourceService.value}} {{ace.sourceAddress.value}}</td>
					<td>{{ace.destinationService.value}} {% if ace.destinationAddress.value %}{{ace.destinationAddress.value}}{% else %}{% if ace.destinationAddress.objectId %}{{ace.destinationAddress.objectId}}{% endif %}{% endif %}</td>
				</tr>
			{% endfor %}
			</table>
		</div>
		<br>
			
		<h3>MALICIOUS_HOSTS list</h3>
		<div>
			<table>
				<tr>
					<th>Kind</th>
					<th>Value</th>
					<th></th>
				</tr>
			{% for no in malhosts_og_dict.members %}
				<tr>
					<td>{{no.kind}}</td>
					<td>{{no.value}}</td>
					<td>
						<form method="post" action="{% url 'acl:delete' %}">
							{% csrf_token %}
							<input type="hidden" name="kind" value="{{no.kind}}">
							<input type="hidden" name="value" value="{{no.value}}">
							<button type="submit">delete</button>
						</form>
					</td>
				</tr>
			{% endfor %}
				<form method="post" action="{% url 'acl:add' %}">
					{% csrf_token %}
					<tr>
						<td>
							<select name="kind">
								<option value="IPv4Address">IPv4Address</option>
								<option value="IPv4Network">IPv4Network</option>
							</select>
						</td>
						<td><input type="text" name="value" required></td>
						<td><button type="submit">add</button></td>
					</tr>
				</form>
			</table>
		</div>
		<div>
			<p>{{ msg }}</p>
		</div>	
	</div>
</body>
</html>
	